{{ define "pagetitle" }} {{ end }}
{{ define "css" }} {{ end }}
{{ define "content" }} {{ end }}
{{ define "js" }} {{ end }}
<!DOCTYPE html>
<html>
  <head>
    <title>
    {{ if .PageTitle }}
      {{ .PageTitle }}
    {{ else }}
      {{ template "pagetitle" . }}
    {{ end }} 
    </title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style>
      .container {
        max-width: 960px;
      }
    </style>
    {{ template "css" . }}
  </head>
  <body>
    <div class="container">
      {{ template "header.html" . }}

      {{ template "content" . }}
    </div>
    <script type="text/javascript" src="/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    {{ template "js" . }}
  </body>
</html>
