{{ define "content" }}
  <form id="addQuestionForm" action="." method="POST">
    <textarea name="question" class="form-control" placeholder="Question..." required autofocus>{{ if .Question }}{{.Question.Question }}{{ end }}
    </textarea>
    Options:<br/>
    <div id="optionsContainer">
    </div>
    <button type="button" class="btn btn-default btn-block" id="addOptionBtn">Add option...</button>
    <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
  </form>
{{ end }}

{{ define "js" }}
  <script type="text/javascript">
    var addQuestionForm = $("#addQuestionForm");
    var optionsContainer = $("#optionsContainer");
    $("#addOptionBtn").click(function() {
      var newOption = createNewOption();
      optionsContainer.append(newOption);
      $("[type='text']", newOption).focus();
    });

    function createNewOption() {
      var option = $("<div class='input-group'><span class='input-group-addon'><input type='radio' name='correctoption' /></span><input type='text' class='form-control' placeholder='Option' /><span class='input-group-btn'><button type='button' tabindex='-1' class='btn btn-warning'>X</button></span></div>")[0];
      $("button", option).click(function(e) {
        $(this).parent().parent().remove();
      });
      return option;
    }
    
    addQuestionForm.submit(function(e) {
      addQuestionForm.append($("<input name='options' type='hidden' />").val(getOptions()));
      addQuestionForm.append($("<input name='correctoptionindex' type='hidden' />").val(getCorrectOptionIndex()));
    });

    function getOptions() {
      var options = [];
      $("input:text", optionsContainer).each(function(index, element) {
        options.push(element.value);
      });
      return options.join(";")
    }

    function getCorrectOptionIndex() {
      var radioButtons = $("input:radio", optionsContainer);
      return radioButtons.index(radioButtons.filter(":checked"));
    }

    {{ if .Question.Options }}
    $({{ marshal .Question.Options }}).each(function(i, val) {
      var newOption = createNewOption();
      $("[type='text']", newOption).val(val);
      if (val == "{{ .Question.CorrectOption }}")
        $("[type='radio']", newOption).attr('checked',true);
      optionsContainer.append(newOption);
      $("[type='text']", newOption).focus();
    });
    $("textarea").focus();
    {{ end }}
  </script>
{{ end }}

{{ define "pagetitle" }} VimQ - Add Question {{ end }}
