<div class="header" style="margin-bottom: 30px; border-bottom: 1px solid #e5e5e5; padding-bottom: 15px;">
  <ul class="nav nav-pills pull-right">
    <li class="{{ addActiveIfNeeded .Context "home" }}"><a href="/home/">Home</a></li>
    <li class="{{ addActiveIfNeeded .Context "quiz" }}"><a href="/quiz/">Quiz</a></li>
    {{ if canAddQuestion .User }}
      <li class="{{ addActiveIfNeeded .Context "addquestion" }}"><a href="/addquestion/">Add question</a></li>
    {{ end }}
    {{ if .User.UserName }}
      <li class="dropdown {{ addActiveIfNeeded .Context "myprofile" }}">
        <a href="/myprofile/" class="dropdown-toggle" data-toggle="dropdown">{{ .User.DisplayName }} <b class="caret"></b></a>
        <ul class="dropdown-menu pull-right">
          <li><a href="/myprofile/">My Profile</a></li>
          <li><a href="/logout/">Logout</a></li>
        </ul>
      </li>
    {{ else }}
      <li class="{{ addActiveIfNeeded .Context "login" }}">
        <a href="/login/">Login</a>
      </li>
    {{ end }}
  </ul>
  <h2 class="text-muted">VimQ</h2>
</div>
