<div class="header">
  <ul class="nav nav-pills pull-right">
    <li{{ addClassIfActive "home" .Context }}><a href="/home/">Home</a></li>
    <li{{ addClassIfActive "quiz" .Context }}><a href="/quiz/">Quiz</a></li>
    {{ if canAddQuestion .User }}
      <li{{ addClassIfActive "addquestion" .Context }}><a href="/addquestion/">Add question</a></li>
    {{ end }}
    <li{{ addClassIfActive "login" .Context }}>
    {{ if .User.UserName }}
      <a href="/logout/">Logout ({{ .User.UserName }})</a>
    {{ else }}
      <a href="/login/">Login</a>
    {{ end }}
    </li>
    <li>
  </ul>
  <h2 class="text-muted">Vim Quiz</h2>
</div>
{{ range .Alerts }}
  <div class="alert alert-{{ .Type }}"> {{ .Text }} </div>
{{ end }}
