{{ define "content" }}
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <form class="form-signin" role="form" action="." method="POST">
      <input name="username" class="form-control" placeholder="Username" required autofocus />
      <input type="password" name="password" class="form-control" placeholder="Password" required />
      <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
      <a href="/signup/" class="btn btn-lg btn-success btn-block">Sign up</a>
    </form>
  </div>
</div>
{{ end }}

{{ define "pagetitle" }} VimQ - Login {{ end }}
