{{ define "pagetitle" }} VimQ user - {{ .Profile.UserName }} {{ end }}

{{ define "content" }}
<h3>VimQ User profile</h3>
<div class="row">
  <div class="col-md-4">
    {{ if .Profile.UserName }}
    <span>{{ .Profile.UserName }}</span>
    {{ end }}
    <img src="/img/comingsoon.jpg" />
    {{ if .Profile.UserLevel }}
    <span>Level: {{ .Profile.UserLevel }}</span>
    {{ end }}
  </div>
  <div class="col-md-8">
    {{ if .Profile.DisplayName }}
    <div class="row">
      <div class="col-md-4 text-right">Display Name:</div>
      <div class="col-md-8">{{ .Profile.DisplayName }}</div>
    </div>
    {{ end }}
    {{ if .Profile.EmailId }}
    <div class="row">
      <div class="col-md-4 text-right">Email-id:</div>
      <div class="col-md-8">{{ .Profile.EmailId }}</div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
