{{ define "pagetitle" }} VimQ user - {{ .Profile.UserName }} {{ end }}

{{ define "content" }}
<h3>VimQ User profile</h3>
<div class="row">
  <div class="col-md-4">
    {{ if .Profile.UserName }}
    <span class="text">{{ .Profile.UserName }}</span>
    {{ end }}
    <img src="/img/comingsoon.jpg" />
    {{ if .Profile.UserLevel }}
    <span class="text">Level: {{ .Profile.UserLevel }}</span>
    {{ end }}
  </div>
  <div class="col-md-8">
    {{ if .Profile.DisplayName }}
    <div class="row">
      <div class="col-md-4 text text-right">Display Name:</div>
      <div class="col-md-8 text">{{ .Profile.DisplayName }}</div>
    </div>
    {{ end }}
    {{ if .Profile.EmailId }}
    <div class="row">
      <div class="col-md-4 text text-right">Email-id:</div>
      <div class="col-md-8 text">{{ .Profile.EmailId }}</div>
    </div>
    {{ end }}
    {{ if len .AddedQuestions }}
      <div class="row">
        <div class="col-md-12 text text-center">Added Questions</div>
      </div>
      <div class="row">
        <div class="col-md-4 text">
      {{ if shouldShowEditOptions .Profile .User }}
      {{ range .AddedQuestions }}
        <div>
          <form class="pull-right"><a class="btn btn-success" href="/question/{{ .QuestionId }}/edit/"><span class="glyphicon glyphicon-pencil"></span></a></form>
          <span class="pull-right">&nbsp;</span>&nbsp;
          <form class="pull-right" action="/question/{{ .QuestionId }}/delete/" method="POST" onsubmit="return confirmDelete('{{ .Question }}')"><button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button></form>
        </div>
      {{ end }}
      {{ end }}
        </div>
        <div class="col-md-8 text">
      {{ range .AddedQuestions }}
        <div>
          <a href="/question/{{ .QuestionId }}/"> {{ .Question }} </a>
        </div>
      {{ end }}
        </div>
      </div>
    {{ end }}
  </div>
</div>
{{ end }}

{{ define "js" }}
<script type="text/javascript" charset="utf-8">
  function confirmDelete(question) {
    return confirm("Are you sure you want to delete '" + question + "'?");
  }
</script>
{{ end }}
