{{ define "content" }}
  <h3> {{ .Question.Question }} </h3>
  <div class="btn-group-vertical">
    {{ range .Question.Options }}
    <button type="button" class="btn btn-default answer-button" onclick="checkAnswer(this)">{{ . }}</button>
    {{ end }}
  </div>
{{ end }}

{{ define "js" }}
  <script type="text/javascript" charset="utf-8">
    function checkAnswer(optionElement) {
      $(optionElement).removeClass("btn-default").addClass(
        optionElement.innerHTML == "{{ .Question.CorrectOption }}"?"btn-success":"btn-warning");
      $(".answer-button").each(function(index, btn) {
        btn.disabled = true;
      });
    }
  </script>
{{ end }}

{{ define "css" }}
  <style>
    .btn-group-vertical > .answer-button {
      width: 300px;
    }
  </style>
{{ end }}
