{{ define "pagetitle" }} VimQ - SignUp {{ end }}

{{ define "content" }}
<div id="alertContainer">
  <div id="message">
  </div>
</div>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <form id="signupform" class="form-signin" role="form" action="." method="POST">
      <div class="input-group"><input name="username" id="usernameinput" class="form-control" placeholder="Username" required autofocus /><span class="input-group-btn"><button id="availabilityBtn" type="button" tabindex='-1' class="btn btn-default" onclick="checkAvailability()"><span class="glyphicon glyphicon-search"></button></span></div>
      <input name="displayname" class="form-control" placeholder="Display Name" required />
      <input name="password" type="password" class="form-control" placeholder="Password" required />
      <input type="password" id="confirmpassword" class="form-control" placeholder="Confirm password" required />
      <input name="email" class="form-control" placeholder="Emailid" required />
      <button type="submit" class="btn btn-lg btn-primary btn-block">Sign Up</button>
    </form>
  </div>
</div>
{{ end }}

{{ define "js" }}
<script type="text/javascript" charset="utf-8">
  window.onerror = function() {
    alert("An client side error occured");
  }

  $("#usernameinput").change(function() {
    var btn = $("#availabilityBtn");
    btn.attr("disabled", true);
    $.get("/checkusernameavailability/"+$("input[name='username']").val(), {}, function(data) {
      showAlerts(data.alerts);
      if (data.username == $("input[name='username']").val()) {
        btn.removeClass("btn-default").addClass(data.availability ? "btn-success" : "btn-danger");
        $("span", btn).removeClass("glyphicon-search").addClass(data.availability ? "glyphicon-ok" : "glyphicon-remove");
      }
    }, "json");
  });

  $("#usernameinput").keypress(function() {
    var btn = $("#availabilityBtn");
    btn.attr("disabled", null);
    btn.removeClass("btn-success btn-danger").addClass("btn-default");
    $("span", btn).removeClass("glyphicon-ok glyphicon-remove").addClass("glyphicon-search");
  });

  var usernameRe = /^[A-Za-z0-9]{6,32}$/,
      validUsernameMessage = "A valid username should be atleast 6, atmost 32 characters and should contain only alphabets and numbers (no special characters)",
      displaynameRe = /^.{6,64}$/,
      validDisplaynameMessage = "A valid display name should be atleast 6, atmost 64 characters",
      passwordRe = /^.{4,32}$/,
      validPasswordMessage = "A valid password should be atleast 4, atmost 32 characters",
      emailRe = /[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}/;

  $("#signupform").submit(function(e) {
    var username = $("[name='username']", this),
        displayname = $("[name='displayname']", this),
        password = $("[name='password']", this),
        confirmpassword = $("#confirmpassword", this),
        email = $("[name='email']", this);
        
    if (!usernameRe.test(username.val())) {
      showError("Username you entered is invalid. " + validUsernameMessage);
      username.focus();
      return false;
    }

    if (!displaynameRe.test(displayname.val())) {
      showError("Display name you entered has " + displayname.val().length + " characters. " + validDisplaynameMessage);
      displayname.focus();
      return false;
    }

    if (password.val() != confirmpassword.val()) {
      showError("Passwords mismatch, please type same password in confirm password box.");
      password.val("").focus();
      confirmpassword.val("");
      return false;
    }

    if (!passwordRe.test(password.val())) {
      showError("Password you entered is invalid. " + validPasswordMessage);
      password.val("").focus();
      confirmpassword.val("");
      return false;
    }

    if (!emailRe.test(email.val())) {
      showError("Please check your email id, we suspect it is invalid.");
      email.val("").focus();
      return false;
    }
  });

  var messageBox = $("#message");
  function showError(message) {
    messageBox.addClass("alert alert-danger");
    messageBox.html(message);
  }
</script>
{{ end }}
